<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629010929009-26g02covqa5ai4n8nboikk7ffmgfpacb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629010929009-26g02covqa5ai4n8nboikk7ffmgfpacb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629010929009-oo3jmeuask3841tj1ts1k83mtv3vcv2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJW1SjGH63n_E-2UevaVd11F3_tnP2ENs</string>
	<key>GCM_SENDER_ID</key>
	<string>629010929009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.costAdmin</string>
	<key>PROJECT_ID</key>
	<string>cost-a4080</string>
	<key>STORAGE_BUCKET</key>
	<string>cost-a4080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629010929009:ios:36c63b599b6e5d370152d0</string>
</dict>
</plist>